
<%
const pageList1 = [
  {
    name: 'Под залог недвижимости',
    url: '#'
  }, {
    name: 'Под залог ПТС'
  }, {
    name: 'Под залог автомобиля'
  }, {
    name: 'Автоломбард'
  }, {
    name: 'Под залог спецтехники'
  }, {
    name: 'С плохой кредитной историей'
  }, {
    name: 'Кредитный калькулятор'
  }, {
    name: 'Вопросы и ответы'
  }
];
const pageList2 = [
  {
    name: 'О нас'
  }, {
    name: 'Новости'
  }, {
    name: 'Лицензии'
  }, {
    name: 'Контакты'
  }
];

const pageList3 = [
  {
    name: 'Статьи'
  }
];
%>

<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="">
        <a class="footer__logo" href="#" title="На главную">
          <img alt="ArtMoney" src="./../img/artmoney/logo-white.png">
        </a>
        <div class="footer__copyright">2019 © ArtMoney</div>
      </div>
      <div class="footer__menu">
        <nav class="footer-nav">
          <h3 class="footer-nav__title">Заемщику</h3>
          <ul class="footer-nav__list">
            <% for (const page of pageList1) { %>
              <li class="footer-nav__item">
                <a href="<%= page.url || '#' %>" class="footer-nav__link"><%= page.name %></a>
              </li>
            <% } %>
          </ul>
        </nav>
        <nav class="footer-nav">
          <h3 class="footer-nav__title">Об организации</h3>
          <ul class="footer-nav__list">
            <% for (const page of pageList2) { %>
              <li class="footer-nav__item">
                <a href="<%= page.url || '#' %>" class="footer-nav__link"><%= page.name %></a>
              </li>
            <% } %>
          </ul>
        </nav>
        <nav class="footer-nav">
          <h3 class="footer-nav__title">Полезное</h3>
          <ul class="footer-nav__list">
            <% for (const page of pageList3) { %>
              <li class="footer-nav__item">
                <a href="<%= page.url || '#' %>" class="footer-nav__link"><%= page.name %></a>
              </li>
            <% } %>
          </ul>
        </nav>
      </div>
      <div class="footer__contacts">
        <div class="footer-contact">
          <div class="footer-contact__icon">
            <i class="icon icon-phone"></i>
          </div>
          <a href="#" class="footer-contact__link">8 (800) 655-89-65</a>
        </div>
        <div class="footer-contact">
          <div class="footer-contact__icon">
            <i class="icon icon-mail"></i>
          </div>
          <a href="#" class="footer-contact__link">support@site.com</a>
        </div>
        <div class="footer-contact">
          <div class="footer-contact__icon">
            <i class="icon icon-point"></i>
          </div>
          <div class="footer-contact__link">
            г. Ташкент,<br> <span class="nowrap">ул. Некрасова 5, оф. 33</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>


<form action="/form.php" class="modal" id="call-me" method="post" style="display: none;">
  <h2 class="modal__title">Закажите звонок</h2>
  <p class="modal__description">
    И наш специалист свяжется с Вами <br><span class="selected">в течение 5 минут</span>
  </p>
  <div class="modal__form">
    <div class="form-vertical">
      <div class="form-vertical__input-container">
        <div class="input-group input-group_icon">
          <svg class="input-group__icon">
            <use xlink:href="images/sprite.svg#sprite-profile"></use>
          </svg>
          <input autocomplete="name" class="input-group__input" name="name" placeholder="Введите ФИО" required type="text">
        </div>
        <div class="input-group input-group_icon">
          <svg class="input-group__icon">
            <use xlink:href="images/sprite.svg#sprite-phone"></use>
          </svg>
          <input autocomplete="tel" class="input-group__input" name="tel" placeholder="Введите телефон" required type="tel">
        </div>
      </div>
      <div class="form-vertical__button-container">
        <button class="btn" type="submit">Оформить сейчас!</button>
      </div>
    </div>
  </div>
</form>

<div class="modal" id="thanks" style="display: none;">
  <h2 class="modal__title">Спасибо за заявку!</h2>
  <p class="modal__description">
    Наш специалист свяжется с Вами <br><span class="selected">в течение 5 минут</span>
  </p>
  <button class="btn" data-fancybox-close>Ок</button>
</div>

<script>
  const app = {
    units: {
      price: 'сўм',
      month: ['месяц', 'месяца', 'месяцев'],
      percent: '%',
    },
    calculator: {
      data: {
        price: {
          id: 'calc-price',
          type: 'price',
          min: 0,
          max: 305 * 1000000,
          value: 10 * 1000000,
          step: 1000000,
        },
        term: {
          id: 'calc-term',
          type: 'month',
          min: 13,
          max: 60,
          value: 60,
          step: 1,
        },
      },
      total: {
        id: 'calc-total',
        type: 'price',
        formula: () => {
          // Переплата в год
          const rate = 0.25;

          // Итоговая сумма кредита
          const total = app.calculator.data.price.value;
          // Расчет аннуитетного платежа, где rate - ставка в месяц
          // return Math.ceil( total * rate / (1 - Math.pow(1 + rate, 0 - app.calculator.data.term.value)));

          return Math.ceil(total * (rate * app.calculator.data.term.value + 12) / (12 * app.calculator.data.term.value));
        },
      },
    },
    mapOptions: {
      center: [41.240084, 69.216396],
      zoom: 16,
      controls: [],
      url: 'https://api-maps.yandex.ru/2.1/?lang=ru_RU',
    },
  };
</script>
