<%
if (typeof bg === 'undefined') {
  bg = true
}

if (typeof url === 'undefined') {
  url = ''
}

const menuList = [
  {
    title: 'Главная',
    url: 'am-main.html',
    viewOnHeader: true
  },
  {
    title: 'Займы',
    url: '#',
    viewOnHeader: true,
    subList: [
      {
        title: 'Под залог недвижимости',
        url: 'am-property.html'
      },
      {
        title: 'Под залог ПТС',
        url: 'am-zalog-pts.html'
      },
      {
        title: 'Под залог автомобиля',
        url: 'am-zalog-auto.html'
      },
      {
        title: 'Автоломбард',
        url: 'am-avtolombard.html'
      },
      {
        title: 'Под залог спецтехники',
        url: 'am-special-tech.html'
      },
      {
        title: 'С плохой кредитной историей',
        url: 'am-bad-history.html'
      }
    ]
  },
  {
    title: 'О компании',
    url: '#',
    viewOnHeader: true,
    subList: [
      {
        title: 'Лицензии',
        url: '#'
      },
      {
        title: 'Новости',
        url: '#'
      },
      {
        title: 'Документы',
        url: '#'
      },
      {
        title: 'Выданные займы',
        url: 'am-loans-list.html'
      }
    ]
  },
  {
    title: 'Вопросы и ответы',
    url: 'am-faq.html',
    viewOnHeader: true
  },
  {
    title: 'Статьи',
    url: '#',
    viewOnHeader: false,
    subList: [
      {
        title: 'Статья',
        url: 'am-article.html'
      }
    ]
  },
  {
    title: 'Контакты',
    url: '#',
    viewOnHeader: true
  }
]
%>

<!--<header class="header header_open-menu header_minimal">-->
<header class="<%= bg ? 'header' : 'header header_no-bg' %>">
  <div class="header__nav-top">
    <div class="container header__inner">
      <button class="menu-button">
        <span></span>
      </button>
      
      <a class="header__logo" href="/" title="На главную">
        <img alt="ArtMoney" src="./../img/artmoney/logo-black.png">
      </a>
      
      <ul class="navbar-nav">
        <% for (let i in menuList) { %>
          <li class="navbar-nav__item">
            <% if (menuList[i].hasOwnProperty('subList')) { %>
              <a href="<%= menuList[i].url %>" class="navbar-nav__link navbar-nav__link_dropdown" data-src="#menu-<%= i %>"><%= menuList[i].title %></a>
            <% } else { %>
              <a href="<%= menuList[i].url %>" class="navbar-nav__link<%= url == menuList[i].url ? ' active' : '' %>"><%= menuList[i].title %></a>
            <% } %>
          </li>
        <% } %>
      </ul>
      
      <div class="header__contacts">
        <a class="header__tel" href="tel:23333333">
          <i class="icon icon-phone"></i>9 999 999999
        </a>
        <div class="header__address">
          г. Ташкент<br> ул. Некрасова 5, оф. 33
        </div>
      </div>
    </div>
  </div>
  
  <% for (let i in menuList) { %>
    <% if (menuList[i].hasOwnProperty('subList')) { %>
      <nav class="header__nav-bottom" id="menu-<%= i %>">
        <div class="container">
          <ul class="header__menu <%= menuList[i].subList.length > 5 ? 'justify-content-between' : '' %>">
            <% for (let n in menuList[i].subList) { %>
              <li class="header__menu-item">
                <a href="<%= menuList[i].subList[n].url %>" class="header__menu-link<%= url == menuList[i].subList[n].url ? ' active' : '' %>"><%= menuList[i].subList[n].title %></a>
              </li>
            <% } %>
          </ul>
        </div>
      </nav>
    <% } %>
  <% } %>
</header>
