<%
if (typeof bg === 'undefined') {
  bg = true
}

if (typeof url === 'undefined') {
  url = ''
}

const menuList = [
  {
    title: 'Главная',
    url: 'am-main.html',
    viewOnHeader: true
  },
  {
    title: 'Займы',
    url: 'am-calc.html',
    viewOnHeader: true,
    subList: [
      {
        title: 'Под залог недвижимости',
        url: 'am-property.html'
      },
      {
        title: 'Под залог ПТС',
        url: 'am-zalog-pts.html'
      },
      {
        title: 'Под залог автомобиля',
        url: 'am-zalog-auto.html'
      },
      {
        title: 'Автоломбард',
        url: 'am-avtolombard.html'
      },
      {
        title: 'Под залог спецтехники',
        url: 'am-special-tech.html'
      },
      {
        title: 'С плохой кредитной историей',
        url: 'am-bad-history.html'
      }
    ]
  },
  {
    title: 'О компании',
    url: '#',
    viewOnHeader: true,
    subList: [
      {
        title: 'Лицензии',
        url: 'am-licenses.html'
      },
      {
        title: 'Новости',
        url: '#'
      },
      {
        title: 'Документы',
        url: 'am-licenses.html'
      },
      {
        title: 'Выданные займы',
        url: 'am-loans-list.html'
      },
      {
        title: 'Отзывы',
        url: 'am-reviews.html'
      }
    ]
  },
  {
    title: 'Вопросы и ответы',
    url: 'am-faq.html',
    viewOnHeader: true
  },
  {
    title: 'Статьи',
    url: '#',
    viewOnHeader: false,
    subList: [
      {
        title: 'Перечень документов для оформления займа',
        url: 'am-article.html'
      }
    ]
  },
  {
    title: 'Контакты',
    url: 'am-contacts.html',
    viewOnHeader: true
  }
]
%>

<!--<header class="header header_open-menu header_minimal">-->
<header class="<%= bg ? 'header' : 'header header_no-bg' %>">
  <div class="select-language">
    <div class="container">
      <div class="select-language__inner">
        <span>Выбрать язык:</span>
        <a class="select-language__link active" href="#">RU</a>
        <a class="select-language__link" href="#">UZ</a>
      </div>
    </div>
  </div>
  
  <div class="header-mobile">
    <button class="menu-button" data-menu="button">
      <span></span>
    </button>
    <a class="header-mobile__logo" href="/" title="На главную">
      <img alt="ArtMoney" src="./../img/artmoney/logo-black.png">
    </a>
  </div>
  
  <div class="header-nav">
    <nav class="header-nav__hero">
      <div class="header-nav__inner">
    
        <a class="header-nav__logo" href="/" title="На главную">
          <img alt="ArtMoney" src="./../img/artmoney/logo-black.png">
        </a>
    
        <ul class="header-nav__list">
          <% for (let i in menuList) { %>
            <li class="header-nav__item">
              <% if (menuList[i].hasOwnProperty('subList')) { %>
                <a href="<%= menuList[i].url %>" class="header-nav__link header-nav__link_dropdown<%= url == menuList[i].url ? ' active' : '' %>" data-menu="dropdown" data-src="#menu-<%= i %>"><%= menuList[i].title %></a>
              <% } else { %>
                <a href="<%= menuList[i].url %>" class="header-nav__link<%= url == menuList[i].url ? ' active' : '' %>"><%= menuList[i].title %></a>
              <% } %>
            </li>
          <% } %>
        </ul>
    
        <div class="header-nav__contacts">
          <a class="header-nav__tel" href="tel:23333333">
            <i class="icon icon-phone"></i>9 999 999999
          </a>
          <div class="header-nav__address">
            г. Ташкент<br> ул. Некрасова 5, оф. 33
          </div>
        </div>
      </div>
    </nav>
    
    <% for (let i in menuList) { %>
      <% if (menuList[i].hasOwnProperty('subList')) { %>
        <nav class="header-nav__second" id="menu-<%= i %>" data-menu="second-level">
          <div class="header-nav__inner">
            <ul class="second-nav-list <%= menuList[i].subList.length > 5 ? 'justify-content-between' : '' %>">
              <% for (let n in menuList[i].subList) { %>
                <li class="second-nav-list__item">
                  <a href="<%= menuList[i].subList[n].url %>" class="second-nav-list__link<%= url == menuList[i].subList[n].url ? ' active' : '' %>"><%= menuList[i].subList[n].title %></a>
                </li>
              <% } %>
            </ul>
          </div>
        </nav>
      <% } %>
    <% } %>
  </div>
</header>
