<!DOCTYPE html>
<html lang="<%= lang || 'ru' %>">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  
  <title>Займы | ArtMoney</title>
</head>
<body>

<%= require('./templates/header.ejs')({ url: 'am-calc.html' }) %>

<main class="wrapper">
  
  <section class="page-hero">
    <div class="container">
      
      <nav class="page-hero__breadcrumb" aria-label="breadcrumb">
        <%= require('./templates/c-breadcrumb.ejs')({ breadcrumb: ['Главная', 'Займы'], lang: lang }) %>
      </nav>
      
      <%= require('./templates/c-benefits.ejs')({ lang: lang }) %>
      
    </div>
  </section>
  
  
  <%= require('./templates/s-calc.ejs')({ lang: lang }) %>
  
  <%= require('./templates/s-request.ejs')({
    phone: phone,
    title: 'Оставьте заявку и получите займ <span class="selected">уже сегодня!</span>'
  }) %>
  
  <section class="section s-info">
    <div class="container">
      <h1 class="s-info__title">Займ под залог в Ташкенте</h1>
      <div class="s-info__text">
        <p>Политика крупных банков такова, что получить в них займ достаточно сложно: необходимо предоставить большой
          пакет документов, дождаться рассмотрения и одобрения со стороны кредитора, подписать контракт о долговых
          обязательствах и так далее.</p>
        <p>При этом никто не даёт гарантии того, что вы получите деньги: банку вполне может не понравиться ваша
          кредитная история или доход на текущем месте работы. Тогда на помощь приходят независимые легальные финансовые
          организации.</p>
      </div>
      <div class="accordion" id="accordionExample">
        <div class="accordion__item">
          <div class="accordion__header" id="headingOne">
            <h3 class="mb-0">
              <a class="accordion__title" data-toggle="collapse" data-target="#collapseOne">
                Особенности кредитования
              </a>
            </h3>
          </div>
          
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="accordion__body">
              <p>Кредитование под залог — финансовые отношения, при которых займ предоставляется в обмен на какое-то
                ценное движимое и недвижимое имущество:</p>
              <ul>
                <li>Жилье;</li>
                <li>Автомобиль или спецтранспорт;</li>
                <li>Другие ценности, в зависимости от условий кредитора.</li>
              </ul>
              <p>Вернее, стороны заключают особый договор, согласно которому оно может перейти кредитору. Если заемщик
                успешно погасил задолженность, его имущество возвращается; в противном случае его продают, тем самым
                возмещая убыток. Сделка подтверждается официальным документом, имеющим юридическую силу.</p>
              <p>При этом стоит учитывать, что не все материальные ценности принимаются в качестве залога: например,
                ювелирные украшения актуальны далеко не всегда.</p>
            </div>
          </div>
        </div>
        <div class="accordion__item">
          <div class="accordion__header" id="headingTwo">
            <h3 class="mb-0">
              <a class="accordion__title collapsed" data-toggle="collapse" data-target="#collapseTwo">
                Преимущества
              </a>
            </h3>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="accordion__body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
              moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
              Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
              shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
              proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
              aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div class="accordion__item">
          <div class="accordion__header" id="headingThree">
            <h3 class="mb-0">
              <a class="accordion__title collapsed" data-toggle="collapse" data-target="#collapseThree">
                Займы в ArtMoney
              </a>
            </h3>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="accordion__body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
              moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
              Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
              shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
              proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
              aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<%= require('./templates/footer.ejs')() %>

</body>
</html>
