<!DOCTYPE html>
<html lang="<%= lang || 'ru' %>">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  
  <title>Контакты | ArtMoney</title>
</head>
<body>

<%= require('./templates/header.ejs')({ url: 'am-contacts.html' }) %>

<main class="wrapper">
  
  <section class="page-hero">
    <div class="container">
      
      <nav class="page-hero__breadcrumb" aria-label="breadcrumb">
        <%= require('./templates/c-breadcrumb.ejs')({ breadcrumb: ['Главная', 'Контакты'], lang: lang }) %>
      </nav>
      
      <article class="contacts">
        <div class="contacts__info">
          <h1 class="contacts__title">Контакты</h1>
          <p class="contacts__item"><i class="icon icon-point"></i> Узбекситан, г. Ташкент, ул. Некрасова 5, офис 33</p>
          <p class="contacts__item">
            <i class="icon icon-phone"></i>
            <a href="tel:<%= phone[0].replace(/[^0-9/+/]/g, '') %>"><%= phone[0] %></a>
          </p>
          <p class="contacts__item"><i class="icon icon-mail"></i> support@site.com</p>
          <p class="contacts__item"><i class="icon icon-clock"></i> Пн-Вс с 9:00 до 19:00</p>
          <div class="contacts__map" id="map"></div>
        </div>
        <div class="contacts__form">
          <form action="/mail.php" method="post" class="form-card">
            <h2 class="form-card__title">
              Остались вопросы? <i class="selected">Свяжитесь с нами</i>
            </h2>
            <div class="form-card__link">
              <a class="phone-link-round" href="tel:<%= phone[0].replace(/[^0-9/+/]/g, '') %>">
                <span class="phone-link-round__icon"><i class="icon icon-phone"></i></span>
                <span class="phone-link-round__tel"><%= phone[0] %></span>
              </a>
            </div>
            <p class="form-card__description">Или оставьте заявку и мы перезвоним вам <span class="selected">в течение 5 минут</span>
            </p>
            
            <fieldset class="form-card__fieldlist">
              <p class="form-card__field">
                <label class="input-group input-group_icon">
                  <span class="input-group__icon"><i class="icon icon-user"></i></span>
                  <input autocomplete="name" class="input-group__input" name="name" placeholder="Введите ФИО" required="" type="text">
                </label>
              </p>
              <p class="form-card__field">
                <label class="input-group input-group_icon">
                  <span class="input-group__icon"><i class="icon icon-phone"></i></span>
                  <input autocomplete="tel" class="input-group__input" name="tel" placeholder="Введите телефон" required="" type="tel">
                </label>
              </p>
              <button class="form-card__button btn" type="submit">Связаться</button>
            </fieldset>
          </form>
        </div>
      </article>
    
    
    </div>
  </section>

</main>

<%= require('./templates/footer.ejs')() %>

</body>
</html>
