<!DOCTYPE html>
<html lang="<%= lang || 'ru' %>">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  
  <title>Документы и лицензии | ArtMoney</title>
</head>
<body>

<%= require('./templates/header.ejs')({ url: 'am-contacts.html' }) %>

<main class="wrapper">
  
  <section class="page-hero">
    <div class="container">
      
      <nav class="page-hero__breadcrumb" aria-label="breadcrumb">
        <%= require('./templates/c-breadcrumb.ejs')({
          breadcrumb: ['Главная', 'О компании', 'Лицензии'],
          lang: lang
        }) %>
      </nav>
      
      <article class="licenses">
        <h1 class="licenses__title text-center">Документы и лицензии</h1>
        <div class="licenses__inner">
          <figure class="licenses__figure"></figure>
          <h4 class="licenses__subtitle">Свидетельства</h4>
          <ul class="licenses__list">
            <li class="licenses__item">
              <a href="#" class="licenses__link">Свидетельство ИНН ООО МКК "ArtMoney"</a>
            </li>
            <li class="licenses__item">
              <a href="#" class="licenses__link">Свидетельство на товарный знак 1</a>
            </li>
            <li class="licenses__item">
              <a href="#" class="licenses__link">Свидетельство МФО</a>
            </li>
            <li class="licenses__item">
              <a href="#" class="licenses__link">Свидетельство о членстве в СРО «Рога и Копыта»</a>
            </li>
          </ul>
          <h4 class="licenses__subtitle">Лицензии</h4>
          <ul class="licenses__list">
            <li class="licenses__item">
              <a href="#" class="licenses__link">Лицензия №201565</a>
            </li>
            <li class="licenses__item">
              <a href="#" class="licenses__link">Лицензция на осуществление банковских операций</a>
            </li>
            <li class="licenses__item">
              <a href="#" class="licenses__link">Лицензия №21545450065</a>
            </li>
          </ul>
        </div>
      </article>
    
    
    </div>
  </section>
  
  <%= require('./templates/s-request.ejs')({
    lang: lang,
    phone: phone,
    title: 'Оставьте заявку и получите займ <span class="selected">уже сегодня!</span>'
  }) %>
</main>

<%= require('./templates/footer.ejs')() %>

</body>
</html>
