<!DOCTYPE html>
<html lang="<%= lang || 'ru' %>">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  
  <title>Документы и лицензии | ArtMoney</title>
</head>
<body>

<%= require('./templates/header.ejs')({ url: 'am-reviews.html' }) %>

<main class="wrapper">
  
  <section class="page-hero pb-0">
    <div class="container">
      
      <nav class="page-hero__breadcrumb" aria-label="breadcrumb">
        <%= require('./templates/c-breadcrumb.ejs')({
          breadcrumb: ['Главная', 'О компании', 'Отзывы'],
          lang: lang
        }) %>
      </nav>
    </div>
  </section>
  
  <section class="s-reviews">
    <div class="container">
      <h2 class="s-reviews__title">Отзывы наших клиентов</h2>
      <div class="swiper-container s-reviews__slider">
        <div class="swiper-wrapper">
          <figure class="swiper-slide s-reviews__item">
            <img src="<%= require(`./img/review-img-1.jpg`) %>" alt="" class="s-reviews__image">
            <blockquote class="s-reviews__quote">
              Эти слова совершенно справедливы, однако интервально-прогрессийная континуальная форма начинает
              септаккорд. Соноропериод представляет собой флэнжер. Очевидно, что крещендирующее хождение трансформирует
              внетактовый мнимотакт.
            </blockquote>
            <footer class="s-reviews__footer"><cite class="s-reviews__name">Петров Евгений</cite></footer>
          </figure>
          <figure class="swiper-slide s-reviews__item">
            <img src="<%= require(`./img/review-img-1.jpg`) %>" alt="" class="s-reviews__image">
            <blockquote class="s-reviews__quote">
              Эти слова совершенно справедливы, однако интервально-прогрессийная континуальная форма начинает
              септаккорд. Соноропериод представляет собой флэнжер. Очевидно, что крещендирующее хождение трансформирует
              внетактовый мнимотакт.
            </blockquote>
            <footer class="s-reviews__footer"><cite class="s-reviews__name">Петров Евгений</cite></footer>
          </figure>
          <figure class="swiper-slide s-reviews__item">
            <img src="<%= require(`./img/review-img-1.jpg`) %>" alt="" class="s-reviews__image">
            <blockquote class="s-reviews__quote">
              Эти слова совершенно справедливы, однако интервально-прогрессийная континуальная форма начинает
              септаккорд. Соноропериод представляет собой флэнжер. Очевидно, что крещендирующее хождение трансформирует
              внетактовый мнимотакт.
            </blockquote>
            <footer class="s-reviews__footer"><cite class="s-reviews__name">Петров Евгений</cite></footer>
          </figure>
        </div>
        <button class="swiper-button-prev"></button>
        <button class="swiper-button-next"></button>
      </div>
    </div>
  </section>
  
  <%= require('./templates/s-request.ejs')({
    lang: lang,
    phone: phone,
    title: 'Оставьте заявку и получите займ <span class="selected">уже сегодня!</span>'
  }) %>
</main>

<%= require('./templates/footer.ejs')() %>

</body>
</html>
